body {
    margin-top: 60px;
    font-family: TendernessRegular, Optima, Garamond, Serif;
    font-size: 20px;
}

.bg-img{
    /* background-image: url('../img/filmStrip.png');*/
    background-size: 100px 100px;
    background-repeat: no-repeat;
    /* no-repeat center center;*/
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.bg-figure {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #eee;
    max-width: 653px;
    margin: 0 auto;
    box-shadow: 0 0 3px #eee;
}

.img-center {
    margin: 0 auto;
}

.transparentImage {
    background-image: url('../img/filmStripCharlie1.png');
    background-size: 100px 100px;
    background-repeat: repeat-y;
    opacity: 0.3;
    height: 165vh;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    /*left: 60px;*/
    
}
#filmStripSmall {
    left: 10%;
    opacity: 0.1;
}
#filmStripMedium {
    left: 11%;
    opacity: 0.2;
}
#filmStripLarge {
    left: 10%;
}
@media (min-width: 1350px) {
    #filmStripLarge {
        left: calc(50vw - 530px); /* This will keep the Film Strip horizontally fixed for larger screens. */
    }
}
blockquote {
    font-size: 1.5em;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.8em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote p:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.5em;
}
blockquote p:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.5em;
}
blockquote p {
  display: inline;
}

blockquote footer {
    font-size: 0.8em;
}
blockquote footer cite {
    font-size: 0.8em;
}

.fixQuoteWidth {
    max-width: 700px;
}